.comment-box {
    max-width: 1200px;
    margin-top: 50px;
}

.vheader-item:nth-child(2) {
    display: none !important;
}

.vheader-item:nth-child(3) {
    display: none !important;
}

.vbtn:nth-child(2) {
    display: none !important;
}